{% extends 'layout/base.html.twig' %}
    {% block body %}
        <div class="full-page-detail">
            <a href="/shows"><i class="fas fa-arrow-alt-circle-left back"></i></a>
            <div class="show-detail">
                <div class="price-cart">
                    <h2> {{ showw.name }} </h2>
                    <h3>{{ showw.price }}</h3>
                    <i class="fas fa-shopping-cart show-cart"></i>
                </div>
                <h2>{{ showw.date }}</h2>
                <h4> {{ showw.adress }}</h4>
                <div class="text-show">
                    <p>{{ showw.description }}</p>
                </div>

            </div>

            <div id="show-{{ showw.id }}"
                 class="card-detail-column">
                <div class="card-detail-row">
                    <div>
                        <img src="{{ showw.DetailPicture1 }}" alt="imageCard" class="img-card-trips">
                    </div>
                    <div>
                        <img src="{{ showw.DetailPicture2 }}" alt="imageCard" class="img-card-trips">
                    </div>
                </div>
                <div class="card-detail-row">
                    <div>
                        <img src="{{ showw.DetailPicture3 }}" alt="imageCard" class="img-card-trips">
                    </div>
                    <div>
                        <img src="{{ showw.DetailPicture4 }}" alt="imageCard" class="img-card-trips">
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}